<footer class="zone-wrapper zone-wrapper-footer">
	<div class="zone zone-footer">
		<div class="region region-footer-first">
			<div class="block" id="footer-copyright">
				<h3 class="block-title element-invisible">Copyright Information</h3>
				<div class="block-content">Copyright © 2015 {{siteName}}. <br/>All rights reserved.</div>
			</div>
		</div>
		<div class="region region-footer-second">
			<div class="block" id="social-media">
				<h3 class="block-title element-invisible">Social Media Links</h3>
				<div class="block-content">
					<nav class="menu menu-social-media">
						<ul class="menu-items">
							<li class="menu-item"><a href="javascript(void);">Facebook</a></li>
							<li class="menu-item"><a href="javascript(void);">Twitter</a></li>
							<li class="menu-item"><a href="javascript(void);">GitHub</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="region region-footer-third">
			<div class="block" id="legal-terms">
				<h3 class="block-title element-invisible">Legal, Terms, and Conditions</h3>
				<div class="block-content">
					<nav class="menu menu-toc inline">
						<ul class="menu-items">
							<li class="menu-item"><a href="javascript(void);">Privacy</a></li>
							<li class="menu-item"><a href="javascript(void);">Terms of Usage</a></li>
							<li class="menu-item"><a href="javascript(void);">License</a></li>
							<li class="menu-item"><a href="javascript(void);">Accessibility</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>