<title>{{ title }} | {{ siteName }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:site_name" content="{{siteName}}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta property="og:url" content="{{siteURI}}" />
<link rel="canonical" href="{{siteURI}}" />
<link rel="shortlink" href="{{siteURI}}" />
<meta property="og:type" content="website" />


{{# google.wmt.verify}}
<meta name="google-site-verification" content="{{google.wmt.verify}}" />
{{/ google.wmt.verify}}