<h1 class="title" id="page-title">{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<p>This scaffold is designed to increase open source development teams' agility by providing a structure and toolset for Express.JS using industry best practices and technologies such as</p>
<ul class="cards express-scaffold-intro">
	<li class="card">
		<div class="card-header"><i class="logo grunt"></i>Grunt task-runners</div>
		<div class="card-copy">
			<ul>
				<li>Watch Files, Server Reloads and Keep Alives</li>
				<li>Script Concatenation and Minification</li>
				<li>Automated Unit Testing</li>
			</ul>
		</div>
	</li>
	<li class="card">
		<div class="card-header"><i class="logo sass"></i>Modern Mixins and Responsive Grid</div>
		<div class="card-copy">
			<ul>
				<li>SASS</li>
				<li>Bourbon</li>
				<li>Neat</li>
				<li>Bitters</li>
				<li>Refills</li>
			</ul>
		</div>
	</li>
	<li class="card">
		<div class="card-header"><i class="logo"></i>Popular Javascript Libraries</div>
		<div class="card-copy">
			<ul>
				<li>jQuery / jQuery UI</li>
				<li>Moment.js</li>
				<li>matchHeight.js</li>
				<li>AddThis</li>
			</ul>
		</div>
	</li>
	<li class="card">
		<div class="card-header"><i class="logo seo"></i>Search Engine Optimization</div>
		<div class="card-copy">
			<ul>
				<li>Google Webmaster Tools</li>
				<li>Metatag Management</li>
			</ul>
		</div>
	</li>
	<li class="card">
		<div class="card-header"><i class="logo"></i>Analytics</div>
		<div class="card-copy">
			<ul>
				<li>Google Analytics</li>
				<li>New Relic</li>
			</ul>
		</div>
	</li>
	<li class="card">
		<div class="card-header"><i class="logo"></i>Performance</div>
		<div class="card-copy">
			<ul>
				<li>View Caching</li>
				<li>GZip Compression</li>
			</ul>
		</div>
	</li>
</ul>
