<h1 class="title" id="page-title">{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<p>This scaffold is designed to increase open source development teams' agility by providing a structure and toolset for Express.JS using industry best practices and technologies such as:</p>
<ul class="cards">
	<li class="card"> Grunt task-runners:
		<ul>
			<li>Watch Files, Server Reloads and Keep Alives</li>
			<li>Script Concatenation and Minification</li>
			<li>Automated Unit Testing</li>
		</ul>
	</li>
	<li class="card">Integrated Front-end Mixins and Grid System:
		<ul>
			<li>SASS</li>
			<li>Bourbon</li>
			<li>Neat</li>
			<li>Bitters</li>
			<li>Refills</li>
		</ul>
	</li>
	<li class="card">Popular Javascript Libraries:
		<ul>
			<li>jQuery / jQuery UI</li>
			<li>Moment.js</li>
			<li>matchHeight.js</li>
			<li>AddThis</li>
		</ul>
	</li>
	<li class="card">Search Engine Optimization:
		<ul>
			<li>Google Webmaster Tools</li>
			<li>Metatag Management</li>
		</ul>
	</li>
	<li class="card">Analytics:
		<ul>
			<li>Google Analytics</li>
			<li>New Relic</li>
		</ul>
	</li>
	<li class="card">Performance
		<ul>
			<li>View Caching</li>
			<li>GZip Compression</li>
		</ul>
	</li>
</ul>
