<h1 class="title" id="page-title">{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<p>This scaffold is designed to increase open source development teams' agility by providing a structure and toolset for Express.JS using industry best practices and technologies such as:</p>
<ul class="cards express-scaffold-intro">
	<li class="card">
		<div class="card-header"><i class="logo grunt"></i>Grunt task-runners:</div>
		<ul>
			<li>Watch Files, Server Reloads and Keep Alives</li>
			<li>Script Concatenation and Minification</li>
			<li>Automated Unit Testing</li>
		</ul>
	</li>
	<li class="card">
		<div class="card-header"><i class="logo sass"></i>Integrated Front-end Mixins and Grid System:</div>
		<ul>
			<li>SASS</li>
			<li>Bourbon</li>
			<li>Neat</li>
			<li>Bitters</li>
			<li>Refills</li>
		</ul>
	</li>
	<li class="card">
		<div class="card-header"><i class="logo"></i>Popular Javascript Libraries:</div>
		<ul>
			<li>jQuery / jQuery UI</li>
			<li>Moment.js</li>
			<li>matchHeight.js</li>
			<li>AddThis</li>
		</ul>
	</li>
	<li class="card">
		<div class="card-header"><i class="logo"></i>Search Engine Optimization:</div>
		<ul>
			<li>Google Webmaster Tools</li>
			<li>Metatag Management</li>
		</ul>
	</li>
	<li class="card">
		<div class="card-header"><i class="logo"></i>Analytics:</div>
		<ul>
			<li>Google Analytics</li>
			<li>New Relic</li>
		</ul>
	</li>
	<li class="card">
		<div class="card-header"><i class="logo"></i>Performance:</div>
		<ul>
			<li>View Caching</li>
			<li>GZip Compression</li>
		</ul>
	</li>
</ul>
